@import 'fonts.css';
/* Lato-Bold Lato-Regular */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.body {
    font-family: 'fonts';
    background: #FDEDE8;
}

/* header start */

.header {
    background-image: url(../img/Group.png);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 1349px;
    height: 960px; */
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.header_ul {
    display: flex;
}

.header_list {
    padding: 0 20px;
}

.header_item {
    font-size: 12px;
    color:  #FFFFFF;
    font-family: Lato-Bold;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.iconca1 {
    color: #FFB548;
    width: 30,04px;
    height: 27,51px;
    font-size: 30px;
    padding: 0 7px;
}

.iconca2 {
    color: #FFB548;
    width: 30.13px;
    height: 30px;
    font-size: 30px;
}

.header_text {
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.header_all {
    font-size: 50px;
    color: #FFFFFF;
    font-family: Lato-Bold;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
    margin-left: 80px;
}

.header_game {
    font-size: 24px;
    color: #FFFFFF;
    font-family: Lato-Bold;
    line-height: 24px;
    letter-spacing: 1px;
    font-style: normal;
    padding: 7px;
}

.header_form {
    padding: 40px 0;
}

.submit {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: none;
    width: 260.36px;
    height: 60px;
    text-align: center;
    align-items: center;
    padding: 17px 18px;
    color: #1a1917;
    font-size: 16px;
    font-family: Lato-Regular;
    font-style: normal;
    line-height: 22px;
}

.header_title {
    padding: 175px 0;
}

.header_stroy {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 22px;
    font-family: Lato-Bold;
    /* text-align: justify; */
    text-transform: uppercase;
}

.header_down {
  color: #FFFFFF;
}

/* header end */

/* section start */
.section {
    background-image: url(../img/background\ 2.png);
    min-height: 100vh;
    background-size: cover;
    /* width: 1349px;
    height: 960px; */
    background-repeat: no-repeat;
}

.section_content {
    display: flex;
    padding: 150px 0;
}

.section_text {
    font-size: 24px;
    color: #FFFFFF;
    font-family: Lato-Bold;
    line-height: 24px;
    letter-spacing: 2px;
    font-style: normal;
}

.section_social {
    font-size: 80px;
    color: #FFFFFF;
    font-family: Lato-Bold;
    line-height: 80px;
    /* letter-spacing: 3px; */
    font-style: normal;
    text-transform: uppercase;
    height: 153,56px;
    width: 410,93px;
    /* border-radius: nullpx; */

}

.section_title {
    font-size: 18px;
    color: #FFFFFF;
    font-family: Lato-Regular;
    line-height: 22px;
    /* text-align: justify; */
    font-weight: normal;
    font-style: normal;
    height: 153.57px;
    width: 364,85px;
    /* border-radius: nullpx; */
    padding: 60px 0;
    margin-left: 90px;

}

.section_li {
    position: absolute;
    width: 711.5px;
    height: 2.99px;
    left: 120.84px;
    margin-top: 7px;
    background: #FFFFFF;
    border-radius: 4px;

}

.section_making {
    font-size: 18px;
    color: #FFFFFF;
    font-family: Lato-Regular;
    line-height: 22px;
    /* text-align: justify; */
    font-weight: normal;
    font-style: normal;
    height: 100px;
    width: 300px;
    /* border-radius: nullpx; */
    margin-left: 90px;
    margin-top: 10px;
}

.section_mice {
    background-image: url(../img/bg\ image\ 3.png);
    min-height: 100vh;
    background-size: cover;
    /* width: 1349px;
    height: 871px; */
    background-repeat: no-repeat;
}

.section_content {
    display: flex;
    justify-content: space-between;
}


.section_routr {
    margin-left: 60%;
}
.section_special {
    font-size: 24px;
    color: #FFFFFF;
    font-family: Lato-Regular;
    line-height: 24px;
    letter-spacing: 2px;
}

.section_features {
    font-size: 80px;
    color: #FFFFFF;
    font-family: Lato-Bold;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.slider {
    display: flex;
    margin-top: 70px;
}

.faq {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ask {
    width: 100%;
    color: #FFB548;
    text-align: inherit;
    position: relative;
    display: block;
    /* padding: 0.75rem 1.25rem;
    margin-bottom: -1px; */
    /* background-color: #fff; */
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    font-size: 36px;
    line-height: 36px;
    font-family: Lato-Bold;
    font-weight: 500;
    align-items: center;
    padding: 36px 0;
}

.ask:hover,
.ask:focus {
    /* color: #495057; */
    text-decoration: none;
    /* background-color: #f8f9fa; */
    z-index: 1;
}

.ask:active {
    color: #212529;
    /* background-color: #e9ecef; */
}

.ask:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.ask:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.ask.active {
    z-index: 2;
    /* color: #402B2B; */
    /* background-color: #FFFFFF; */
    /* border-color: #007bff; */
}

.answer {
    position: relative;
    min-width: 0;
    /* word-wrap: break-word; */
    /* background-color: #FFF7F5; */
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    /* border-radius: 0.25rem; */
    display: none;
    /* padding: 1rem; */
    /* box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px; */
    color: #FFFFFF;
    height: 77px;
    width: 362px;
    border-radius: nullpx;
    padding: 10px 0;
    font-family: Lato-Regular;

}

.section_sistem {
    background-image: url(../img/background\ 4.png);
    min-height: 150vh;
    background-size: cover;
    /* width: 1349px;
    height: 960px; */
    background-repeat: no-repeat;
}

.section_sistem_title {
    padding: 100px 0;
}

.section_sistem_text {
    text-align: center;
    align-items: center;
}

.section_sistem_can {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: Lato-Bold;
    font-style: normal;
}

.section_sistem_system {
    color: #FFFFFF;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-style: normal;
}

.main_title {
    position: absolute;
    width: 573.2px;
    height: 400.69px;
    border: 1px solid #979797;

}

.main_item {
    display: flex;

}

.main_list {
    padding: 14px 0;
}

.main_img {
    position: absolute;
width: 572.85px;
height: 0px;
border: 1px solid #979797;
}

.main_rasm {
    position: absolute;
width: 572.77px;
height: 0px;
border: 1px solid #979797;
}

.main_link {
    font-size: 24px;
    color: #FFB548;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: Lato-Bold;
    margin-left: 10px;
    margin-top: 10px;
}

.main_foother {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 22px;
    font-family: Lato-Regular;
    font-weight: normal;
    font-style: normal;
    height: 44.87px;
    width: 257.65px;
    border-radius: nullpx;
    margin-left: 10px;

}

.section_header {
    padding: 14px 0;
}

.main_start {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    height: 514,31px;
    width: 53,12px;
    margin-left: 10px;
    font-family: Lato-Regular;

}

.main_end{
    position: absolute;
    width: 0px;
   height: 180.88px;
   border: 1px solid #979797;
   margin-left: 270px;
}

.main_block {
    margin-top: 15px;
}

.section_jquery {
    background-image: url(../img/background\ 5.png);
    min-height: 100vh;
    background-size: cover;
    /* width: 1349px;
    height: 960px; */
    background-repeat: no-repeat;
}

.section_content {
    display: flex;
    justify-content: space-between;
}

/* .section_scrip {
    margin-top: 18%;
} */

.main_what {
    font-size: 24px;
    color: #FFFFFF;
    line-height: 24px;
    font-family: Lato-Regular;
    letter-spacing: 2px;
    font-style: normal;
}

.main_press {
    font-size: 80px;
    color: #FFFFFF;
    line-height: 80px;
    /* letter-spacing: 3px; */
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-style: normal;
}

.main_our {
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   font-family: Lato-Regular;
   height: 136px;
   width: 434.95px;
   margin-top: 20px;

}

.section_content {
    display: flex;
    justify-content: space-between;
}

.section_form  {
    padding: 20px;
}

.section_submit {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: none;
    width: 260.36px;
    height: 60px;
    text-align: center;
    align-items: center;
    padding: 17px 18px;
    color: #1a1917;
    font-size: 16px;
    font-family: Lato-Regular;
    font-style: normal;
}

.section_js {
    /* position: absolute; */
    width: 452.59px;
    height: 182.94px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: 20px 7px;
}

.section_cinema {
    display: flex;
}

.section_zip {
    margin-left: 20px;
}

.section_even {
    color:  #FFB548;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: Lato-Bold;
}

.section_ps {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    opacity: 0.5s;
    font-family: Lato-Regular;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.main_iconca {
    color: #FFFFFF;
    height: 14px;
    width: 18.03px;
    border-radius: 0px;
    mix-blend-mode: normal;
    opacity: 0.3;
    margin-left: 45%;

}

.section_list {
    padding: 19px 0;
}

.section_the {
   font-size: 18px;
   line-height: 25px;
   width: 357,29px;
   height: 30,29px;
   color: #FFFFFF;
   font-family: Lato-Regular;
}

.section_octabr {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-family: Lato-Regular;
    margin-top: 17px;

}

.section_main {
 /* position: absolute; */
    width: 452.59px;
    height: 182.94px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    padding: 20px 7px;
    margin-top: 30px;
    margin-left: -50%;
}


.main_bottom {
    margin-left: 20px;
}

.main_jada {
    color:  #FFB548;
    font-size: 24px;
    line-height: 24px;
    /* letter-spacing: 2px; */
    font-family: Lato-Bold;
}

.main_oper {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-family: Lato-Regular;
}

.section_iconca {
    color: #FFFFFF;
    height: 14px;
    width: 18.03px;
    border-radius: 0px;
    mix-blend-mode: normal;
    opacity: 0.3;
    margin-left: 45%;

}
.main_the {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 370px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-family: Lato-Regular;
}

.main_december {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-family: Lato-Regular;
}

.section_foother {
   /* position: absolute; */
   width: 452.59px;
   height: 182.94px;
   border-radius: 10px;
   background: rgba(255, 255, 255, 0.08);
   padding: 20px 7px;
   margin: 30px;
}

.main_menu {
    margin-left: 20px;
}

.main_aaron {
    font-size: 24px;
    line-height: 24px;
    color: #FFB548;
    letter-spacing: 2px;
    font-weight: bold;
    font-style: normal;
    font-family: Lato-Bold;
}

.main_uoroxx {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: justify;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: normal;

}

.foother_iconca {
    color: #FFFFFF;
    height: 14px;
    width: 18.03px;
    border-radius: 0px;
    mix-blend-mode: normal;
    opacity: 0.3;
    margin-left: 30%;

}

.main_snopp {
    font-size: 18px;
    color: #FFFFFF;
    width: 390px;
    height: 43px;
    line-height: 25px;
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: normal;
}

.main_text {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: normal;
    margin-top: 17px;
}

/* section end */

/* foother start */

.foother{
    background-color: #080A0B;
    width: 1349px;
    height: 960px;
}
.foother_header {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.foother_nav {
    margin-left: 10%;
    margin-top: 15%;
}

.foother_text {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: Lato-Regular;
    font-style: normal;
}

.foother_little {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: Lato-Regular;
    font-style: normal;
    color: black;
}

.foother_title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    font-family: Lato-Bold;
    text-transform: uppercase;
    font-style: normal;
    width: 667,24px;
    height: 76,28px;
}

.foother_in {
    font-size: 18px;
    line-height: 22px;
    font-family: Lato-Regular;
    font-weight: normal;
    font-style: normal;
    width: 644px;
    height: 136px;
}

.foother_form {
    display: flex;
    justify-content: space-between;
}

.foother_gmail {
    width: 366.92px;
     height: 60px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: normal;
    color: red;
}

.foother_submit {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: none;
    width: 260.36px;
    height: 60px;
    text-align: center;
    align-items: center;
    padding: 17px 18px;
    color: #1a1917;
    font-size: 16px;
    font-family: Lato-Regular;
    font-style: normal;
    line-height: 22px;
}

.foother_coll {
    display: flex;
    justify-content: space-between;
}

.foother_vector {
    position: absolute;
    width: 0px;
    height: 1197.82px;
    opacity: 0.5;
    /* border: 0.873968px solid #FFFFFF; */
    color: red;
    transform: rotate(-90deg);
}

.foother_div {
    display: flex;
    justify-content: space-between;
}

.foother_games {
    font-size: 14px;
    line-height: 19px;
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: normal;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.foother_policy {
    font-size: 12px;
    line-height: 16px;
    font-family: Lato-Bold;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.foother_iconca:hover {
    background-color: red;
    transition: 1s;
}

.slider {
    max-width: 560px;
    width: 100%;
}
.controls {
      display: flex;
      justify-content: flex-end;
    }

.prev,
.next {
      position: static;
      width: unset;
      height: unset;
      margin: 0;
    }
::after {
        padding: 16px 26px;
        background: #fff;
        color: #1c1c1c;
        font-size: 20px;
        transition: .4s;
      }

      :hover::after {
        background: #1c1c1c;
        color: #fff;
      } 

.swiper {
    width: 100%;
    height: 100%;
}

.foother_image {
    width: 100%;
    height: 100%;
}
    
/*  foother end */




.header_slider {
    display: flex;
    /* margin-top: 70px; */
}

.header_faq {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header_ask {
    width: 100%;
    color: #FFFFFF;
    text-align: inherit;
    position: relative;
    display: block;
    /* padding: 0.75rem 1.25rem;
    margin-bottom: -1px; */
    /* background-color: #fff; */
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    font-size: 12px;
    line-height: 16px;
    font-family: Lato-Bold;
    font-weight: 500;
    /* align-items: center; */
    text-align: right;
    /* padding: 36px 0; */
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header_ask:hover,
.header_ask:focus {
    /* color: #495057; */
    text-decoration: none;
    /* background-color: #f8f9fa; */
    z-index: 1;
}

.header_ask:active {
    color: #212529;
    /* background-color: #e9ecef; */
}

.header_ask:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.header_ask:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.header_ask.active {
    z-index: 2;
    /* color: #402B2B; */
    /* background-color: #FFFFFF; */
    /* border-color: #007bff; */
}

.header_answer {
    position: relative;
    min-width: 0;
    /* word-wrap: break-word; */
    /* background-color: #FFF7F5; */
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    /* border-radius: 0.25rem; */
    display: none;
    /* padding: 1rem; */
    /* box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px; */
    color: #FFFFFF;
    height: 77px;
    /* width: 362px; */
    border-radius: nullpx;
    padding: 10px 0;
    font-family: Lato-Regular;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px; 
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header_class {
    color: #FFFFFF;
    margin-left: 5px;
}

.header_pires {
    /* position: absolute; */
    height: 30px;
    width: 0px;
    border-radius: 0px;
   opacity: 0.5;
   border: 0.873968px solid #FFFFFF;

}